
<table border="1">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Due Date</th>
    <th>Is Completed?</th>
  </tr>
  <% for(let i=0;i<allTodos.length; i++) { %>
    <tr>
      <td><%= allTodos[i].id %></td>
      <td><%= allTodos[i].title %></td>
      <td><%= allTodos[i].dueDate %></td>
      <td><%= allTodos[i].completed %></td>
    </tr>
  <% } %>
</table>
